/part14-Part14_03.SavingsCalculator/target/
/part12-Part12_03.SumTheseForMe/target/
/part14-Part14_10.Database/target/
/part12-Part12_10.MagicSquare/target/
/part13-Part13_10.Greeter/target/
/part12-Part12_09.ArrayAsAString/target/
